{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="body-hafco">

        <div class="banner">
            {# <div class="content container">
                <div class="text-width">
                    <h1> 50 ans d'expérience dans la fabrication de <span id="ctlg"> mobilier scolaire <span> </h1>
                    <li class="meubles-btn"> 
                        <a href="#">Voir nos meubles</a>
                    </li>
                </div>
            </div> #}

            <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item first active" data-bs-interval="5000">
                        {# <img src="https://via.placeholder.com/728x350" class="d-block w-100" alt="..."> #}
                        <div class="carousel-caption d-none d-md-block">
                            <div class="content">
                                <div class="text-width">
                                    <h1> <span id="ctlg"> HAFCO <br/> </span> Haitian American Fiberglass Company S.A. </h1>
                                    <li class="meubles-btn"> 
                                        <a href="{{ path('about_us')}}#aboutUs">Qui sommes-nous ?</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item second" data-bs-interval="5000">
                    {# <img src="https://via.placeholder.com/728x350" class="d-block w-100" alt="..."> #}
                        <div class="carousel-caption d-none d-md-block">
                            <div class="content ">
                                <div class="text-width">
                                    <h1> Des services de <span id="ctlg"> réparations et de restauration de meubles </span> </h1>
                                    <li class="meubles-btn"> 
                                        <a href="{{path('contact_and_services')}}">Nos services</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item third" data-bs-interval="5000">
                    {# <img src="https://via.placeholder.com/728x350" class="d-block w-100" alt="..."> #}
                    <div class="carousel-caption d-none d-md-block">
                        <div class="content ">
                            <div class="text-width">
                                <h1> 50 ans d'expérience <br/> dans la fabrication de <span id="ctlg"> mobilier scolaire </span> </h1>
                                <li class="meubles-btn"> 
                                    <a href="{{path('catalog')}}">Voir nos meubles</a>
                                </li>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
                {# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="iconify iconify-left" data-icon="fa-angle-left" data-inline="false" style="color: white;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="iconify" data-icon="fa-angle-right" data-inline="false" style="color: white;"></span>
                    <span class="visually-hidden">Next</span>
                </button> #}
            </div>
            {# <div class="bg-home-video">
                <video autoplay muted loop id="myVideo">
                    <source src="{{asset('videos/meubles.mp4')}}" type="video/mp4">
                </video>
            </div> #}
        </div>

        <div class="section-content">
            <div class="container">
                <div class="starred-link">
                    
                    <span class="span-product"> Liens importants</span>
                    
                    <div class="links row">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{path('catalog')}}">Découvrir notre catalogue</a></li>
                                <li class="breadcrumb-item"><a href="{{path('catalog')}}">Acheter nos produits</a></li>
                                <li class="breadcrumb-item"><a href="{{path('about_us')}}">Pourquoi choisir la HAFCO ?</a></li>
                                <li class="breadcrumb-item"><a href="{{path('contact_and_services')}}">Nos services</a></li>
                            </ol>
                        </nav>
                    </div>  
                </div>

                <div class="home-aboutUs">
                    ]
                    <div class="row flex">
                        <div class="col-sm-8">
                            <div class="bg-color">
                                <h1>Historicité<hr></h1>
                            
                                <p>
                                    La HAFCO est la première manufacture de meubles en fibre de verre (fiberglass) fondée 
                                    en 1971 pour répondre à un besoin spécifique du marché. En effet, avec l'essor 
                                    remarquable du secteur touristique qu'à connu Haïti à l'époque, il fallait bien meubler les 
                                    hôtels et les restaurants qui se multipliaient à travers le territoire, El Rancho, Villa Créole, 
                                    Olofson et autres.
                                </p>
                                <br/>
                                <a href="{{path('about_us')}}#historicité">Lire plus</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <img src="{{asset('images/img8.jpg')}}" class="about-img" width="100%" height="auto" style=""  alt=""/>
                        </div>
                    </div>

                    <div class="row">
                         <div class="col-sm-4">
                            <img src="{{asset('images/img6.jpg')}}" class="about-img" width="100%" height="100%" style="" alt=""/>
                        </div>

                        <div class="col-sm-8">
                            <div class="bg-color">
                                <h1>Notre sélection <hr></h1>
                                <p>
                                    HAFCO S.A. vous offre toute une gamme de meubles en : fibre de verre, bois, fer forgé concus pour
                                    répondre aux besoins d'ameublement de votre institution. Quand il s'agit de mobilier, HAFCO S.A.
                                    est le leader dans la fabrication de produits durables et de haute qualité, concus et fabriqués à
                                    des prix abordables.
                                </p>
                                <br/>
                                <a href="{{path('about_us')}}#aboutUs">Lire plus</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products">
                    <div class="starred-link">
                        <span> Nos produits </span>

                        <p class="span-product mt-4"> Quand il s'agit de mobilier, HAFCO S.A. est le leader dans la 
                            fabrication de produits durables et de haute qualité, concus et fabriqués à des prix abordables.
                        </p>
                    </div>

                    
                    <div class="product-content">
                        <div class="row flex">

                            {% for product in products %}
                                <div class="col-sm p-1">
                                    <a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}" >
                                        <div class="img-hover"><a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}" class="details-btn">Détails</a></div>
                                        <img src="{{ vich_uploader_asset(product, 'imageFile')}}" class="img-product" style="" alt=""/>
                                    </a>
                                    {# {{ product.image}} #}
                                </div>
                            {% endfor %}
                            
                        </div>
                    
                        <div class="more-link"><a href="{{path('catalog')}}">Voir plus</a></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
