{{form_start(form)}}
    <div class="row">
        <div class="col-md-4">{{form_row(form.productName)}}</div>
        <div class="col-md-4">{{form_row(form.productDescription)}}</div>
        <div class="col-md-4">{{form_row(form.productPrice)}}</div>
        <div class="col-md-4">{{form_row(form.Image)}}</div>
        {# <div class="col-md-4">{{form_row(form.slug)}}</div> #}
{{form_widget(form)}}

        <button class="btn btn-primary">{{button|default('Enregistrer')}}</button>
    </div>
{{form_end(form)}}