{% extends 'admin_product/base_admin.html.twig' %}

{% block title %}Administration du site{% endblock %}
  
{% block body %}
        <div class="container">
            <div class="section">
                <ul>
                    <li>
                        <h2> Liste des produits </h2>
                    </li>
                    <li>
                        {{form_start(form, {'method': 'GET'})}}
                            <div class="col-md-12 form-row search-field ">
                                <ul>
                                    <li>{{form_row(form.productName)}}<li>
                                    <li><button class="btn btn-secondary mx-1"> Rechercher</button></li>
                                </ul>
                            </div>
                            
                        {{form_end(form)}}
                    </li>
                    <li>
                        <a href="{{path ('admin.product.new')}}" class="btn btn-primary">Ajouter un nouveau produit</a>
                    </li>
                </ul>
            </div>
                
            <hr>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="table-color-brand">
                        <tr>
                        {# <th scope="col">#</th> #}
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        {# <th scope="col">Prix</th> #}
                        <th scope="col">Image</th>
                        {# <th scope="col">Catégories</th> #}
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                {# <td>{{product.id}}</td> #}
                                <td class="name">{{ product.productName}}</td>
                                <td>{{ product.productDescription}}</td>
                                {# <td>{{ product.productPrice}}</td> #}
                                <td>{{ product.image}}</td>
                                {# <td>{{ product.categories}}</td> #}
                                <td>
                                    <ul class="action-group">
                                        <li>
                                            <a href="{{ path ('admin.product.edit',{id: product.id}) }}" class="btn btn-secondary fas fa-pen fa-sm action"></a>
                                        </li>
                                        <li>
                                            <form method="POST" action="{{ path ('admin.product.delete',{id: product.id}) }}" 
                                            onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id)}}">
                                                <button class="btn btn-danger far fa-trash-alt fa-sm action"></button>
                                            </form>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div aria-label="navigation" class="bg-light">
                                        
                    {{ knp_pagination_render(products) }}
                                        
                </div>
            </div>
            
        </div>
{% endblock %}

