{% extends 'base.html.twig' %}

{% block title %}HAFCO-Catalogue{% endblock %}

{% block body %}

    <div class="body-hafco">

        <div class="banner bg-catalog">
            <div class="content container">
                <div class="text-width">

                    <h1> Rechercher dans <br/> notre<span id="ctlg"> catalogue </span> </h1>

                    <div class="input-group search">
                       <div class="row search-form">
                       {{form_start(form, {'method': 'GET'})}}
                            <div class="col-lg-12 search-content">
                                <div class="row px-12" id="adv-search">
                                    <div class="row">
                        {# MENU DEROULANT POUR LES CATEGORIES #}

                                        {# <div class="col-2 col-sm-3 form-row">
                                            <button type="button" class="input-group-btn btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <span class="label-icon">Catégories</span>
                                                <span class="caret"></span>
                                            </button>
                                            <div class="">
                                                {{form_row(form.categoriesName)}}
                                            </div>
                                        </div> #}

                        {# CHAMP DE SAISIE #}
                                        

                                        {# <input type="text" class="form-control" placeholder="Exemple : Fournitures de bureau" {{(form.productName)}}/> #}

                                        <div class="col col-md-11 form-row search-field">
                                            {{form_row(form.productName)}}
                                        </div>

                                        {# <div class="col-9 col-md-9 form-row search-field">
                                            {{form_row(form.productName)}}
                                        </div> #}
                                        
                        {# {{form_end(form)}} #}
                        {# BOUTON DE VALIDATION DE LA RECHERCHE #}
                                        <div class="">
                                            <button class="btn btn-secondary mt-4"> Rechercher
                                                {# <span class="glyphicon glyphicon-search" aria-hidden="true" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0
                                                        0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                    </svg>
                                                </span> #}
                                            </button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
       
        <div class="container section-content">
            <div class="row g-2">
                <div class="col-6 col-md-3">
                    <div class="p-3 border bg-light filter category">

                        <div class="category">Catégories de produits</div>
                        <hr>
                        {# {{ form_start(formData, {'method': 'GET'}) }} #}
                            {# {{ form_row(form.categories) }} #}
                            {# {{ form_rest(formData) }} #}
                        {# {{ form_end(formData) }} #}

                        {{form_row(form.categories) }}
                        
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                        {{form_end(form)}}

                        {# <div class="category">Sous-catégories de produits</div>
                        <hr>

                        {{form_row(form.subcategories) }} #}
                        
                        {# <ul class="list-group list-group-flush"> #}


                            {# {% for category in categories %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a class="categ-name secondary" href="{{ path('catalog', {id: category.id, slug: category.slug}) }}">{{category.categoryName}}</a>
                                    {{form_row(form.categories)}}
                                </li>
                            {% endfor %} #}
                            {# </ul> #}
                    </div>
                </div>

                 
                
                <div class="col-sm-6 col-md-9">
                    <div class="p-3 border bg-light">
                        <div>
                            <div class="category_link">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb bg-light">
                                        {# <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data</li> #}
                                    </ol>
                                </nav>
                            </div>
                            <hr>

                        <div class="row row-cols-1 row-cols-md-3 g-2">
                                {% for product in products %}
                                    <div class="col-md-4">
                                        <div class="card mx-auto my-auto h-100">
                                                    {# <img src="{{product.image}}" style="height=100%; width=100%"/> #}
                                                {% if product.image %}

                                                    <img src="{{ vich_uploader_asset(product, 'imageFile')}}" class="card-img-top">

                                                {% endif %}
                                                
                                            <div class="card-body">
                                                <h3 class="card-title"> 
                                                    {{product.productName}} -{{product.categories}}
                                                </h3>
                                            <hr>
                                                <p class="card-text">
                                                    {{product.productDescription}}
                                                </p>
                                            </div>
                                            <a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}" >
                                                <div class="card-footer">
                                                    <small class="text">
                                                        Plus de détails
                                                    </small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                                <div aria-label="navigation" class="bg-light">
                                        
                                        {{ knp_pagination_render(products) }}
                                        
                                </div>
                            </div>
                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
        
    </div>
{% endblock %}
