{% extends 'base.html.twig' %}

{% block title %}HAFCO-Catalogue{% endblock %}

{% block body %}
    <div class="container product">
        <div class="row bg-light">
            <div class="col-sm">
                        {# {{product.image}} #}
                        <img src="{{product.image}}" height="100%" width="100%"/>
                    </div>
            <div class="col-sm">
            
                <div class="product-details">
                    <h1>{{product.productName}}</h1>
                    <p> {{product.productDescription}}</p>
                    <span class="price">{{product.productPrice}} HTG</span>
                </div>

                <div class="product-details">
                   
                    <div class="message-btn btn">
                        <a class="btn whatsapp-btn" href="#">Ecrivez nous sur whatsapp</a>
                        <br/><br/>
                        <a class="link" href="{{path ('catalog')}}">Retournez à la liste des produits</a>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="bg-light mt-4" id="contactForm">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{form_row(form.firstname)}}</div>
                    <div class="col">{{form_row(form.lastname)}}</div>
                </div>
                <div class="row">
                    <div class="col">{{form_row(form.phone)}}</div>
                    <div class="col">{{form_row(form.email)}}</div>
                </div>
            {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn btn-primary form_btn"> Envoyer </button> 
                </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}