{% extends 'base.html.twig' %}

{% block title %}HAFCO-Catalogue{% endblock %}

{% block body %}
    <div class="container product">
        <div class="row bg-light">
            <div class="col-sm bordered">
                {# {{product.image}} #}
                <img src="{{product.image}}" class="img-prod-show"/>
            </div>
            <div class="col-sm">
            
                <div class="product-details">
                    <h1>{{product.productName}}</h1>
                    <hr>
                    <p> {{product.productDescription}}</p>
                    <span class="price"> Prix : {{product.productPrice}} HTG</span>
                </div>

                <div class="product-details">
                   
                    <div class="message-btn btn">
                        <a class="btn whatsapp-btn" href="#">Ecrivez nous sur whatsapp</a>
                        <br/><br/>
                    </div>

                    <div class="message-btn btn">
                        <a class="btn form-btn" href="#">Formulaire d'informations</a>
                        <br/><br/>
                    </div>
                    <a class="link" href="{{path ('catalog')}}">Retournez à la liste des produits</a>
                </div>
            </div>
        </div>
        
        <div class="bg-light mt-4" id="contactForm">
            <h3>Ecrivez-nous par email</h3>
            <hr>
            {{ form_start(form) }}
                <div class="row mt-4">
                    <div class="col">{{form_row(form.firstname)}}</div>
                    <div class="col">{{form_row(form.lastname)}}</div>
                </div>
                <div class="row mt-4">
                    <div class="col">{{form_row(form.phone)}}</div>
                    <div class="col">{{form_row(form.email)}}</div>
                </div>
                <div class="row mt-4">
                    {{ form_rest(form) }}
                </div>
                <div class="form-group mt-4">
                    <button class="btn btn-primary form_btn"> Envoyer </button> 
                </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}